* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --black: #2d3047;
  --blue: #93b7be;
  --white: #fffefe;
}
#logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.sidebar {
  color: #fff;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: var(--black);
  padding: 20px 30px;
  box-shadow: 0px 0px 5px 2px rgb(210, 210, 210);
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.position-sticky {
  position: sticky;
  top: 0;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-column {
  flex-direction: column;
}
nav {
  background: var(--white);
  z-index: 1;
  padding: 20px 50px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  box-shadow: 0px 0px 0px 1px #d7d3d3;
}
.dashboard form label {
  display: block;
}
.dashboard-content {
  padding: 50px;
}
.sidebar ul li a {
  text-decoration: none;
  color: #fff;
}
.sidebar ul li {
  padding-top: 10px;
  list-style: none;
}
.sidebar-finance {
  padding-top: 40px;
}
.card {
  border-radius: 7px;
}
form div input,
#select {
  width: 100%;
  padding: 7px 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.7);
  outline: none;
}
form div label {
  display: block;
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-weight: 700;
}
form div button {
  padding: 8px 20px;
  border-radius: 7px;
  outline: none;
  border: 0;
  cursor: pointer;
}
#loginForm,
#registrationForm {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 40px 20px;
  border-radius: 7px;
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add-finance-container form,
.add-task-container form {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 30px 10px 50px 10px;
  border-radius: 3px;
  justify-content: center;
}
.ml-2 {
  margin-left: 24px;
}
.add-finance-container form textarea,
.add-task-container form textarea {
  width: 98%;
  outline: none;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.7);
}
.p-5 {
  padding: 50px;
}
.p-3 {
  padding: 30px;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.col-3 {
  flex: 0 0 auto;
  width: calc(25% - 50px);
}
.col-4 {
  flex: 0 0 auto;
  width: calc(33.33333333% - 25px);
}
.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-6 {
  flex: 0 0 auto;
  width: calc(50% - 35px);
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-9 {
  flex: 0 0 auto;
  width: calc(75% + 50px);
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
table {
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.6);
  border-collapse: collapse;
}
table thead {
  background-color: #000;
  color: #fff;
}
table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
table thead tr th,
table tbody tr td {
  padding: 12px 20px;
  text-align: center;
}

table tbody tr:last-child {
  border-bottom: 0px;
}
.btn-danger {
  padding: 4px 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background: red;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
.btn-primary {
  padding: 4px 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background: #308ced;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
.btn-secondary {
  padding: 4px 20px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background: rgba(159, 159, 159, 1);
  color: #fff;
  border: 0;
  border-radius: 5px;
}
.btn-success {
  padding: 8px 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background: #2c942c;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
.gap-2 {
  gap: 20px;
}
#bannerImg {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.nav-links {
  display: flex;
  gap: 50px;
}
.nav-links li {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: #000;
}
.gx-2 {
  column-gap: 20px;
}
.gx-4 {
  column-gap: 70px;
}
.gy-2 {
  row-gap: 20px;
}
.main-content {
  width: 70%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 40px;
}
.card-body .card-content button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.card-content {
  padding: 20px 0px;
}
.card-content p {
  padding: 2px 0px 12px 0px;
}
.card img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 40px 50px;
}
.home-shortcut-links {
  display: block;
  text-decoration: none;
  color: #fff;
}
#register,
#login {
  text-decoration: none;
  color: #000;
  transition: 0.8s;
  padding: 7px 20px;
  border-radius: 5px;
}
#login:hover {
  background-color: #000;
  color: #fff;
  transition: 0.4s;
}
#register:hover {
  background-color: #000;
  color: #fff;
}
.text-center {
  text-align: center;
}
footer h3 {
  padding-bottom: 10px;
}
.active {
  background-color: #000;
  color: #fff !important;
  padding: 7px 20px;
  border-radius: 5px;
  transition: 0.6s;
}
.active:hover {
  color: #000 !important;
  background-color: #fff;
}
.active-sidebar {
  color: #26c6da !important;
}
.footer-links {
  padding-top: 7px;
}
.card-content {
  position: absolute;
  top: 30%;
  left: 14%;
  color: #fff;
}

.card-body {
  position: relative;
}
.card-body img {
  filter: brightness(50%);
}
.position-relative {
  position: relative;
}
.profile-icon {
  width: 22px;
}
.profile-icon img {
  width: 100%;
}
#logout-userprofile li {
  list-style: none;
}
#logout-userprofile li a {
  text-decoration: none;
  color: #000;
}
#logout-userprofile li:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 6px;
}

#logout-userprofile {
  display: none;
  position: absolute;
  right: 30px;
  box-shadow: 0px 0px 1px 0px;
  background: #fff;
  padding: 8px 15px;
}
.cursor-pointer {
  cursor: pointer;
}
#profileImg {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 100% !important;
  height: 100% !important;
}
.profileimg {
  width: 150px;
}
